
    <!-- The Inner links -->
    <div class="scrollbar-inner">
        <!-- Brand -->
        <div class="sidenav-header  d-flex  align-items-center">
            <a class="navbar-brand" style="color: blue;font-weight: 900;" href="/">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;HRMS
            <!-- <img src="/static/assets/img/brand/blue.png" class="navbar-brand-img" alt="..."> -->
            </a>
            <div class=" ml-auto ">
            <!-- Sidenav toggler -->
            <div class="sidenav-toggler d-none d-xl-block" data-action="sidenav-unpin" data-target="#sidenav-main">
                <div class="sidenav-toggler-inner">
                <i class="sidenav-toggler-line"></i>
                <i class="sidenav-toggler-line"></i>
                <i class="sidenav-toggler-line"></i>
                </div>
            </div>
            </div>
        </div>
        <div class="navbar-inner">
            <!-- Collapse -->
            <div class="collapse navbar-collapse" id="sidenav-collapse-main">
            <!-- Nav items -->
            <ul class="navbar-nav">
                       
                <a class="nav-link {% if request.resolver_match.url_name == "home" %}active{% endif %}" 
                href="#navbar-dashboards" data-toggle="collapse" role="button" aria-expanded="true" aria-controls="navbar-dashboards">
                    <i class="ni ni-shop text-primary"></i>
                    <span class="nav-link-text">Dashboards</span>
                </a>
                <div class="collapse {% if request.resolver_match.url_name == "home" %}show{% endif %} " id="navbar-dashboards">
                    <ul class="nav nav-sm flex-column">
                    <li class="nav-item">
                        <a href="/" class="nav-link {% if request.resolver_match.url_name == "home" %}active{% endif %}">
                        <span class="sidenav-mini-icon"> D </span>
                        <span class="sidenav-normal"> Dashboard </span>
                        </a>
                    </li>
                    <!-- <li class="nav-item">
                        <a href="/alternative.html" class="nav-link {% if 'alternative' in segment %} active {% endif %}">
                        <span class="sidenav-mini-icon"> A </span>
                        <span class="sidenav-normal"> Alternative </span>
                        </a>
                    </li> -->
                    </ul>
                </div>

                
                 
                <a class="nav-link {% if request.resolver_match.url_name == "onboard_employees" %}active{% endif %}{% if request.resolver_match.url_name == "add_onboard_employee" %}active{% endif %}" 
                href="#navbar-onboarding" data-toggle="collapse" role="button" aria-expanded="true" aria-controls="navbar-onboarding">
                <i class="fas fa-user-plus text-primary"></i>
                    <span class="nav-link-text">Onboarding</span>
                </a>
                <div class="collapse {% if request.resolver_match.url_name == "onboard_employees" %}show{% endif %} {% if request.resolver_match.url_name == "add_onboard_employee" %}show{% endif %}" id="navbar-onboarding">
                    <ul class="nav nav-sm flex-column">
                    <li class="nav-item">
                        <a href="/onboard_employees/" class="nav-link {% if request.resolver_match.url_name == "onboard_employees" %}active{% endif %} {% if request.resolver_match.url_name == "add_onboard_employee" %}active{% endif %} ">
                        <span class="sidenav-mini-icon"> C </span>
                        <span class="sidenav-normal"> Candidate </span>
                        </a>
                    </li>
                   
                    </ul>
                </div>

                <a class="nav-link  {% if request.resolver_match.url_name == "employees" %}active{% endif %} {% if request.resolver_match.url_name == "add_employee" %}active{% endif %} {% if request.resolver_match.url_name == "update_employee" %}active{% endif %} {% if request.resolver_match.url_name == "roles" %}active{% endif %} {% if request.resolver_match.url_name == "departments" %}active{% endif %} {% if request.resolver_match.url_name == "new_hires" %}active{% endif %} {% if request.resolver_match.url_name == "birthdays" %}active{% endif %} {% if request.resolver_match.url_name == "exit_details" %}active{% endif %} " 
                href="#navbar-organization" data-toggle="collapse" role="button" aria-expanded="true" aria-controls="navbar-organization">
                <i class="fas fa-building text-primary"></i>
                    <span class="nav-link-text">Organization</span>
                </a>
                <div class="collapse {% if request.resolver_match.url_name == "employees" %}show{% endif %} {% if request.resolver_match.url_name == "add_employee" %}show{% endif %} {% if request.resolver_match.url_name == "update_employee" %}show{% endif %}   {% if request.resolver_match.url_name == "roles" %}show{% endif %} {% if request.resolver_match.url_name == "departments" %}show{% endif %} {% if request.resolver_match.url_name == "new_hires" %}show{% endif %} {% if request.resolver_match.url_name == "birthdays" %}show{% endif %} {% if request.resolver_match.url_name == "exit_details" %}show{% endif %}  " id="navbar-organization">
                    <ul class="nav nav-sm flex-column">
                        <li class="nav-item">
                            <a class="nav-link {% if request.resolver_match.url_name == "employees" %}active{% endif %} {% if request.resolver_match.url_name == "add_employee" %}active{% endif %} {% if request.resolver_match.url_name == "update_employee" %}active{% endif %}  " href="/employees/">
                                <span class="sidenav-mini-icon"> E </span>
                                <span class="sidenav-normal">Employees</span>
                            </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link {% if request.resolver_match.url_name == "departments" %}active{% endif %}" href="/departments/">
                                <span class="sidenav-mini-icon"> D </span>
                                <span class="sidenav-normal">Department</span>
                            </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link {% if request.resolver_match.url_name == "roles" %}active{% endif %}" href="/roles/">
                                <span class="sidenav-mini-icon"> R </span>
                                <span class="sidenav-normal">Role</span>
                            </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link {% if request.resolver_match.url_name == "new_hires" %}active{% endif %}" href="/new_hires/">
                                <span class="sidenav-mini-icon"> N </span>
                                <span class="sidenav-normal">New Hires</span>
                            </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link {% if request.resolver_match.url_name == "birthdays" %}active{% endif %}" href="/birthdays/">
                                <span class="sidenav-mini-icon"> B </span>
                                <span class="sidenav-normal">Birthday Folks</span>
                            </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link {% if request.resolver_match.url_name == "birthdays" %}active{% endif %}" href="/organization_tree/">
                                <span class="sidenav-mini-icon"> O </span>
                                <span class="sidenav-normal">Organization Tree</span>
                            </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link {% if request.resolver_match.url_name == "exit_details" %}active{% endif %}" href="/exit_details/">
                                <span class="sidenav-mini-icon"> E </span>
                                <span class="sidenav-normal">Exit Details</span>
                            </a>
                        </li>
                    </ul>
                </div>

                
                <a class="nav-link  {% if request.resolver_match.url_name == "attn_listview" %}active{% endif %} {% if request.resolver_match.url_name == "search_listview" %}active{% endif %} {% if request.resolver_match.url_name == "attn_calendarview" %}active{% endif %} {% if request.resolver_match.url_name == "attn_tableview" %}active{% endif %}  {% if request.resolver_match.url_name == "search_tableview" %}active{% endif %}  " 
                href="#navbar-attendance" data-toggle="collapse" role="button" aria-expanded="true" aria-controls="navbar-attendance">
                <i class="fas fa-calendar-check text-primary"></i>
                    <span class="nav-link-text">Attendance</span>
                </a>
                <div class="collapse {% if request.resolver_match.url_name == "attn_listview" %}show{% endif %}  {% if request.resolver_match.url_name == "attn_calendarview" %}show{% endif %} {% if request.resolver_match.url_name == "search_listview" %}show{% endif %} {% if request.resolver_match.url_name == "attn_tableview" %}show{% endif %}  {% if request.resolver_match.url_name == "search_tableview" %}show{% endif %}  " id="navbar-attendance">
                    <ul class="nav nav-sm flex-column">
                        <li class="nav-item">
                            <a class="nav-link {% if request.resolver_match.url_name == "attn_listview" %}active{% endif %} {% if request.resolver_match.url_name == "search_listview" %}active{% endif %} " href="/attn_listview/">
                                <span class="sidenav-mini-icon"> L </span>
                                <span class="sidenav-normal">List View</span>
                            </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link {% if request.resolver_match.url_name == "attn_tableview" %}active{% endif %} {% if request.resolver_match.url_name == "search_tableview" %}active{% endif %} " href="/attn_tableview/">
                                <span class="sidenav-mini-icon"> T </span>
                                <span class="sidenav-normal">Table View</span>
                            </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link {% if request.resolver_match.url_name == "attn_calendarview" %}active{% endif %} " href="/attn_calendarview/">
                                <span class="sidenav-mini-icon"> C </span>
                                <span class="sidenav-normal">Calendar View</span>
                            </a>
                        </li>
                        
                    </ul>
                </div>

                <a class="nav-link  {% if request.resolver_match.url_name == "organinzation_files" %}active{% endif %} {% if request.resolver_match.url_name == "employee_files" %}active{% endif %}  {% if request.resolver_match.url_name == "add_org_files" %}active{% endif %}  {% if request.resolver_match.url_name == "add_emp_files" %}active{% endif %}  " 
                href="#navbar-files" data-toggle="collapse" role="button" aria-expanded="true" aria-controls="navbar-files">
                <i class="fas fa-folder text-primary"></i>
                    <span class="nav-link-text">Files</span>
                </a>
                <div class="collapse {% if request.resolver_match.url_name == "organinzation_files" %}show{% endif %} {% if request.resolver_match.url_name == "employee_files" %}show{% endif %} {% if request.resolver_match.url_name == "add_org_files" %}show{% endif %} {% if request.resolver_match.url_name == "add_emp_files" %}show{% endif %} " id="navbar-files">
                    <ul class="nav nav-sm flex-column">
                        <li class="nav-item">
                            <a class="nav-link {% if request.resolver_match.url_name == "organinzation_files" %}active{% endif %} {% if request.resolver_match.url_name == "add_org_files" %}active{% endif %} " href="/organinzation_files/">
                                <span class="sidenav-mini-icon"> O </span>
                                <span class="sidenav-normal">Organization Files</span>
                            </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link {% if request.resolver_match.url_name == "employee_files" %}active{% endif %} {% if request.resolver_match.url_name == "add_emp_files" %}active{% endif %} " href="/employee_files/">
                                <span class="sidenav-mini-icon"> E </span>
                                <span class="sidenav-normal">Employee Files</span>
                            </a>
                        </li>
                    </ul>
                </div>

                <li class="nav-item">
                    <a class="nav-link {% if request.resolver_match.url_name == "add_announcements" %}active{% endif %} {% if request.resolver_match.url_name == "announcements" %}active{% endif %} {% if request.resolver_match.url_name == "announcement_view" %}active{% endif %}  " href="/announcements/">
                        <i class="fas fa-bullhorn text-primary"></i>
                        <span class="nav-link-text">Announcements</span>
                    </a>
                </li>
                
                <li class="nav-item">
                    <a class="nav-link " href="/leave_request/">
                        <i class="fas fa-calendar-alt text-primary"></i>
                        <span class="nav-link-text">Leave Request</span>
                    </a>
                </li>

                <li class="nav-item">
                    <a class="nav-link {% if request.resolver_match.url_name == "add_leave_type" %}active{% endif %} {% if request.resolver_match.url_name == "leave_types" %}active{% endif %} {% if request.resolver_match.url_name == "edit_leave_type" %}active{% endif %}  {% if request.resolver_match.url_name == "holiday_details" %}active{% endif %} {% if request.resolver_match.url_name == "weekends" %}active{% endif %} {% if request.resolver_match.url_name == "add_weekend" %}active{% endif %} {% if request.resolver_match.url_name == "update_weekend" %}active{% endif %} " 
                    href="#navbar-leave" data-toggle="collapse" role="button" aria-expanded="true" aria-controls="navbar-leave">
                    <i class="fas fa-calendar-alt text-primary"></i>
                        <span class="nav-link-text">Leave Tracker</span>
                    </a>
                    <div id="navbar-leave" class="collapse {% if request.resolver_match.url_name == "add_leave_type" %}show{% endif %} {% if request.resolver_match.url_name == "leave_balance" %}show{% endif %} {% if request.resolver_match.url_name == "leave_types" %}show{% endif %} {% if request.resolver_match.url_name == "edit_leave_type" %}show{% endif %} {% if request.resolver_match.url_name == "customize_leave_balance" %}show{% endif %} {% if request.resolver_match.url_name == "holiday_details" %}show{% endif %} {% if request.resolver_match.url_name == "weekends" %}show{% endif %} {% if request.resolver_match.url_name == "add_weekend" %}show{% endif %} {% if request.resolver_match.url_name == "update_weekend" %}show{% endif %}  " >
                        <ul class="nav nav-sm flex-column">
                            <li class="nav-item">
                            
                                <a class="nav-link" href="#leave-settings" data-toggle="collapse" {% if request.resolver_match.url_name == "add_leave_type" %}active{% endif %} {% if request.resolver_match.url_name == "leave_balance" %}active{% endif %} {% if request.resolver_match.url_name == "leave_types" %}active{% endif %} {% if request.resolver_match.url_name == "edit_leave_type" %}active{% endif %} {% if request.resolver_match.url_name == "customize_leave_balance" %}active{% endif %}   role="button" aria-expanded="true" aria-controls="navbar-leave">
                                    <span class="sidenav-mini-icon"> S </span>
                                    <span class="sidenav-normal"> Settings </span>
                                </a>

                                <div id="leave-settings" class="collapse {% if request.resolver_match.url_name == "add_leave_type" %}show{% endif %} {% if request.resolver_match.url_name == "leave_balance" %}show{% endif %} {% if request.resolver_match.url_name == "leave_types" %}show{% endif %} {% if request.resolver_match.url_name == "edit_leave_type" %}show{% endif %} {% if request.resolver_match.url_name == "customize_leave_balance" %}show{% endif %} " >
                                    
                                    <ul>
                                        <li class="nav-item">
                                            <a href="{% url 'leave_types' %}" class="nav-link {% if request.resolver_match.url_name == "leave_types" %}active{% endif %} {% if request.resolver_match.url_name == "add_leave_type" %}active{% endif %} {% if request.resolver_match.url_name == "edit_leave_type" %}active{% endif %}  ">
                                                <span class="sidenav-mini-icon"> LT </span>
                                                <span class="sidenav-normal"> Leave Type </span>
                                            </a>
                                        </li>
                                        <li class="nav-item">
                                            <a href="{% url 'leave_types' %}" class="nav-link {% if request.resolver_match.url_name == "" %}active{% endif %} ">
                                                <span class="sidenav-mini-icon"> CP </span>
                                                <span class="sidenav-normal"> Customize Policy </span>
                                            </a>
                                        </li>
                                        <li class="nav-item">
                                            <a href="{% url 'leave_balance' %}" class="nav-link {% if request.resolver_match.url_name == "leave_balance" %}active{% endif %} {% if request.resolver_match.url_name == "customize_leave_balance" %}active{% endif %} ">
                                                <span class="sidenav-mini-icon"> CB </span>
                                                <span class="sidenav-normal"> Customize Balance </span>
                                            </a>
                                        </li>
                                    </ul>

                                </div>

                            </li>

                            <li class="nav-item">
                                <a href="{% url 'holiday_details' %}" class="nav-link {% if request.resolver_match.url_name == "holiday_details" %}active{% endif %} ">
                                    <span class="sidenav-mini-icon"> H </span>
                                    <span class="sidenav-normal"> Holidays </span>
                                </a>
                            </li>

                            <li class="nav-item">
                                <a href="{% url 'weekends' %}" class="nav-link {% if request.resolver_match.url_name == "weekends" %}active{% endif %} {% if request.resolver_match.url_name == "add_weekend" %}active{% endif %} {% if request.resolver_match.url_name == "update_weekend" %}active{% endif %} ">
                                    <span class="sidenav-mini-icon"> W </span>
                                    <span class="sidenav-normal"> Weekends </span>
                                </a>
                            </li>

                        </ul>
                    </div>
                </li>


                
                <li class="nav-item">
                    <a class="nav-link {% if request.resolver_match.url_name == "compensatory_request_details" %}active{% endif %} {% if request.resolver_match.url_name == "travel_expense_details" %}active{% endif %} {% if request.resolver_match.url_name == "travel_request_details" %}active{% endif %}  {% if request.resolver_match.url_name == "asset_details" %}active{% endif %} {% if request.resolver_match.url_name == "tasks" %}active{% endif %} {% if request.resolver_match.url_name == "add_task" %}active{% endif %} {% if request.resolver_match.url_name == "update_task" %}active{% endif %} {% if request.resolver_match.url_name == "locations" %}active{% endif %} {% if request.resolver_match.url_name == "add_location" %}active{% endif %} {% if request.resolver_match.url_name == "update_location" %}active{% endif %} {% if request.resolver_match.url_name == "search" %}active{% endif %} " 
                    href="#navbar-more" data-toggle="collapse" role="button" aria-expanded="true" aria-controls="navbar-more">
                    <i class="fas fa-info-circle text-primary"></i>
                        <span class="nav-link-text">More</span>
                    </a>
                    <div id="navbar-more" class="collapse {% if request.resolver_match.url_name == "compensatory_request_details" %}show{% endif %} {% if request.resolver_match.url_name == "travel_expense_details" %}show{% endif %} {% if request.resolver_match.url_name == "travel_request_details" %}show{% endif %} {% if request.resolver_match.url_name == "asset_details" %}show{% endif %} {% if request.resolver_match.url_name == "customize_leave_balance" %}show{% endif %} {% if request.resolver_match.url_name == "tasks" %}show{% endif %} {% if request.resolver_match.url_name == "add_task" %}show{% endif %} {% if request.resolver_match.url_name == "update_task" %}show{% endif %} {% if request.resolver_match.url_name == "locations" %}show{% endif %} {% if request.resolver_match.url_name == "add_location" %}show{% endif %} {% if request.resolver_match.url_name == "update_location" %}show{% endif %} {% if request.resolver_match.url_name == "search" %}show{% endif %} " >
                        <ul class="nav nav-sm flex-column">
                            <li class="nav-item">
                            
                                <a class="nav-link" href="#travel-info" data-toggle="collapse" {% if request.resolver_match.url_name == "travel_expense_details" %}active{% endif %} {% if request.resolver_match.url_name == "travel_request_details" %}active{% endif %} role="button" aria-expanded="true" aria-controls="navbar-more">
                                    <span class="sidenav-mini-icon"> T </span>
                                    <span class="sidenav-normal"> Travel </span>
                                </a>

                                <div id="travel-info" class="collapse {% if request.resolver_match.url_name == "travel_expense_details" %}show{% endif %} {% if request.resolver_match.url_name == "travel_request_details" %}show{% endif %} {% if request.resolver_match.url_name == "leave_types" %}show{% endif %} {% if request.resolver_match.url_name == "edit_leave_type" %}show{% endif %} {% if request.resolver_match.url_name == "customize_leave_balance" %}show{% endif %} " >
                                    
                                    <ul>
                                        <li class="nav-item">
                                            <a href="{% url 'travel_request_details' %}" class="nav-link {% if request.resolver_match.url_name == "travel_request_details" %}active{% endif %} ">
                                                <span class="sidenav-mini-icon"> CP </span>
                                                <span class="sidenav-normal"> Travel Request </span>
                                            </a>
                                        </li>
                                       
                                        <li class="nav-item">
                                            <a href="{% url 'travel_expense_details' %}" class="nav-link {% if request.resolver_match.url_name == "travel_expense_details" %}active{% endif %} {% if request.resolver_match.url_name == "add_leave_type" %}active{% endif %} {% if request.resolver_match.url_name == "edit_leave_type" %}active{% endif %}  ">
                                                <span class="sidenav-mini-icon"> TE </span>
                                                <span class="sidenav-normal"> Travel Expenses </span>
                                            </a>
                                        </li>
                                       
                                    </ul>

                                </div>

                            </li>

                            <li class="nav-item">
                                <a href="{% url 'compensatory_request_details' %}" class="nav-link {% if request.resolver_match.url_name == "compensatory_request_details" %}active{% endif %} ">
                                    <span class="sidenav-mini-icon"> CR </span>
                                    <span class="sidenav-normal"> Compensatory Request </span>
                                </a>
                            </li>

                            <li class="nav-item">
                                <a href="{% url 'asset_details' %}" class="nav-link {% if request.resolver_match.url_name == "asset_details" %}active{% endif %} ">
                                    <span class="sidenav-mini-icon"> AD </span>
                                    <span class="sidenav-normal"> Asset Details </span>
                                </a>
                            </li>

                            <li class="nav-item">
                                <a href="{% url 'tasks' %}" class="nav-link {% if request.resolver_match.url_name == "tasks" %}active{% endif %} {% if request.resolver_match.url_name == "add_task" %}active{% endif %} {% if request.resolver_match.url_name == "update_task" %}active{% endif %} {% if request.resolver_match.url_name == "search" %}active{% endif %}   ">
                                    <span class="sidenav-mini-icon"> T </span>
                                    <span class="sidenav-normal"> Tasks </span>
                                </a>
                            </li>

                            <li class="nav-item">
                                <a href="{% url 'locations' %}" class="nav-link {% if request.resolver_match.url_name == "locations" %}active{% endif %} {% if request.resolver_match.url_name == "add_location" %}active{% endif %} {% if request.resolver_match.url_name == "update_location" %}active{% endif %} ">
                                    <span class="sidenav-mini-icon"> L </span>
                                    <span class="sidenav-normal"> Locations </span>
                                </a>
                            </li>

                        </ul>
                    </div>
                </li>

                <!-- </li> -->
                <!-- <li class="nav-item">
                <a class="nav-link {% if 'page-' in segment %} active {% endif %}" 
                   href="#navbar-examples" data-toggle="collapse" role="button" aria-expanded="false" aria-controls="navbar-examples">
                    <i class="ni ni-ungroup text-orange"></i>
                    <span class="nav-link-text">Examples</span>
                </a>
                <div class="collapse" id="navbar-examples">
                    <ul class="nav nav-sm flex-column">
                    <li class="nav-item">
                        <a href="/page-pricing.html" class="nav-link">
                        <span class="sidenav-mini-icon"> P </span>
                        <span class="sidenav-normal"> Pricing </span>
                        </a>
                    </li>
                    <li class="nav-item">
                        <a href="/page-sign-in.html" class="nav-link">
                        <span class="sidenav-mini-icon"> L </span>
                        <span class="sidenav-normal"> Login </span>
                        </a>
                    </li>
                    <li class="nav-item">
                        <a href="/page-sign-up.html" class="nav-link">
                        <span class="sidenav-mini-icon"> R </span>
                        <span class="sidenav-normal"> Register </span>
                        </a>
                    </li>
                    <li class="nav-item">
                        <a href="/page-lock.html" class="nav-link">
                        <span class="sidenav-mini-icon"> L </span>
                        <span class="sidenav-normal"> Lock </span>
                        </a>
                    </li>
                    <li class="nav-item">
                        <a href="/page-timeline.html" class="nav-link">
                        <span class="sidenav-mini-icon"> T </span>
                        <span class="sidenav-normal"> Timeline </span>
                        </a>
                    </li>
                    <li class="nav-item">
                        <a href="/page-profile.html" class="nav-link">
                        <span class="sidenav-mini-icon"> P </span>
                        <span class="sidenav-normal"> Profile </span>
                        </a>
                    </li>
                    <li class="nav-item">
                        <a href="/page-rtl-support.html" class="nav-link">
                        <span class="sidenav-mini-icon"> RP </span>
                        <span class="sidenav-normal"> RTL Support </span>
                        </a>
                    </li> -->
                    </ul>
                </div>
                </li>
                <!-- <li class="nav-item">
                <a class="nav-link {% if 'components-' in segment %} active {% endif %}" 
                   href="#navbar-components" data-toggle="collapse" role="button" aria-expanded="false" aria-controls="navbar-components">
                    <i class="ni ni-ui-04 text-info"></i>
                    <span class="nav-link-text">Components</span>
                </a> -->
                <!-- <div class="collapse" id="navbar-components"> -->
                    <!-- <ul class="nav nav-sm flex-column">
                    <li class="nav-item">
                        <a href="/components-buttons.html" class="nav-link">
                        <span class="sidenav-mini-icon"> B </span>
                        <span class="sidenav-normal"> Buttons </span>
                        </a>
                    </li>
                    <li class="nav-item">
                        <a href="/components-cards.html" class="nav-link">
                        <span class="sidenav-mini-icon"> C </span>
                        <span class="sidenav-normal"> Cards </span>
                        </a>
                    </li>
                    <li class="nav-item">
                        <a href="/components-grid.html" class="nav-link">
                        <span class="sidenav-mini-icon"> G </span>
                        <span class="sidenav-normal"> Grid </span>
                        </a>
                    </li>
                    <li class="nav-item">
                        <a href="/components-notifications.html" class="nav-link">
                        <span class="sidenav-mini-icon"> N </span>
                        <span class="sidenav-normal"> Notifications </span>
                        </a>
                    </li>
                    <li class="nav-item">
                        <a href="/components-icons.html" class="nav-link">
                        <span class="sidenav-mini-icon"> I </span>
                        <span class="sidenav-normal"> Icons </span>
                        </a>
                    </li>
                    <li class="nav-item">
                        <a href="/components-typography.html" class="nav-link">
                        <span class="sidenav-mini-icon"> T </span>
                        <span class="sidenav-normal"> Typography </span>
                        </a>
                    </li>
                    <li class="nav-item">
                        <a href="#navbar-multilevel" class="nav-link" data-toggle="collapse" role="button" aria-expanded="true" aria-controls="navbar-multilevel">
                        <span class="sidenav-mini-icon"> M </span>
                        <span class="sidenav-normal"> Multi level </span>
                        </a>
                        <div class="collapse show" id="navbar-multilevel" style="">
                        <ul class="nav nav-sm flex-column">
                            <li class="nav-item">
                            <a href="#!" class="nav-link ">Third level menu</a>
                            </li>
                            <li class="nav-item">
                            <a href="#!" class="nav-link ">Just another link</a>
                            </li>
                            <li class="nav-item">
                            <a href="#!" class="nav-link ">One last link</a>
                            </li>
                        </ul>
                        </div>
                    </li>
                    </ul>
                </div>
                </li>
                <li class="nav-item">
                <a class="nav-link {% if 'forms' in segment %} active {% endif %}" 
                   href="#navbar-forms" data-toggle="collapse" role="button" aria-expanded="false" aria-controls="navbar-forms">
                    <i class="ni ni-single-copy-04 text-pink"></i>
                    <span class="nav-link-text">Forms</span>
                </a>
                <div class="collapse" id="navbar-forms">
                    <ul class="nav nav-sm flex-column">
                    <li class="nav-item">
                        <a href="/forms-elements.html" class="nav-link">
                        <span class="sidenav-mini-icon"> E </span>
                        <span class="sidenav-normal"> Elements </span>
                        </a>
                    </li>
                    <li class="nav-item">
                        <a href="/forms-components.html" class="nav-link">
                        <span class="sidenav-mini-icon"> C </span>
                        <span class="sidenav-normal"> Components </span>
                        </a>
                    </li>
                    <li class="nav-item">
                        <a href="/forms-validation.html" class="nav-link">
                        <span class="sidenav-mini-icon"> V </span>
                        <span class="sidenav-normal"> Validation </span>
                        </a>
                    </li>
                    </ul>
                </div>
                </li>
                <li class="nav-item">
                <a class="nav-link {% if 'tables' in segment %} active {% endif %}" 
                   href="#navbar-tables" data-toggle="collapse" role="button" aria-expanded="false" aria-controls="navbar-tables">
                    <i class="ni ni-align-left-2 text-default"></i>
                    <span class="nav-link-text">Tables</span>
                </a>
                <div class="collapse" id="navbar-tables">
                    <ul class="nav nav-sm flex-column">
                    <li class="nav-item">
                        <a href="/tables.html" class="nav-link">
                        <span class="sidenav-mini-icon"> T </span>
                        <span class="sidenav-normal"> Tables </span>
                        </a>
                    </li>
                    <li class="nav-item">
                        <a href="/tables-sortable.html" class="nav-link">
                        <span class="sidenav-mini-icon"> S </span>
                        <span class="sidenav-normal"> Sortable </span>
                        </a>
                    </li>
                    <li class="nav-item">
                        <a href="/tables-datatables.html" class="nav-link">
                        <span class="sidenav-mini-icon"> D </span>
                        <span class="sidenav-normal"> Datatables </span>
                        </a>
                    </li>
                    </ul>
                </div>
                </li>
                <li class="nav-item">
                <a class="nav-link {% if 'maps-' in segment %} active {% endif %}" 
                   href="#navbar-maps" data-toggle="collapse" role="button" aria-expanded="false" aria-controls="navbar-maps">
                    <i class="ni ni-map-big text-primary"></i>
                    <span class="nav-link-text">Maps</span>
                </a>
                <div class="collapse" id="navbar-maps">
                    <ul class="nav nav-sm flex-column">
                    <li class="nav-item">
                        <a href="/maps-google.html" class="nav-link">
                        <span class="sidenav-mini-icon"> G </span>
                        <span class="sidenav-normal"> Google </span>
                        </a>
                    </li>
                    <li class="nav-item">
                        <a href="/maps-vector.html" class="nav-link">
                        <span class="sidenav-mini-icon"> V </span>
                        <span class="sidenav-normal"> Vector </span>
                        </a>
                    </li>
                    </ul>
                </div>
                </li>
                <li class="nav-item">
                <a class="nav-link {% if 'widgets' in segment %} active {% endif %}" 
                   href="/widgets.html">
                    <i class="ni ni-archive-2 text-green"></i>
                    <span class="nav-link-text">Widgets</span>
                </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link {% if 'charts' in segment %} active {% endif %}" 
                       href="/charts.html">
                        <i class="ni ni-chart-pie-35 text-info"></i>
                        <span class="nav-link-text">Charts</span>
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link {% if 'calendar' in segment %} active {% endif %}" 
                       href="/calendar.html">
                        <i class="ni ni-calendar-grid-58 text-red"></i>
                        <span class="nav-link-text">Calendar</span>
                    </a>
                </li>

                <li class="nav-item">
                    <a class="nav-link" href="{% url 'logout' %}" >
                        <i class="ni ni-user-run text-red"></i>
                        <span class="nav-link-text">Logout</span>
                    </a>
                </li>
            </ul> -->
            <!-- Divider -->
            <!-- <hr class="my-3"> -->
            <!-- Heading -->
            <!-- <h6 class="navbar-heading p-0 text-muted">
                <span class="docs-normal">Documentation</span>
                <span class="docs-mini">D</span>
            </h6> -->
            <!-- Navigation -->
            <!-- <ul class="navbar-nav mb-md-3">

                <li class="nav-item">
                    <a class="nav-link" 
                        target="_blank" rel="noopener noreferrer"
                        href="https://www.creative-tim.com/product/argon-dashboard-pro-django" >
                        <i class="ni ni-spaceship"></i>
                        <span class="nav-link-text">Product Info</span>
                    </a>
                </li>

                <li class="nav-item">
                    <a class="nav-link" 
                        target="_blank" rel="noopener noreferrer"
                        href="https://demos.creative-tim.com/argon-dashboard-pro-django/docs/1.0/getting-started/getting-started-django.html" >
                        <i class="ni ni-chart-pie-35"></i>
                        <span class="nav-link-text">Product Docs</span>
                    </a>
                </li>
            </ul> -->
            <!-- </div> -->
        </div>
    </div>
