{% extends "layouts/base.html" %}

{% block title %} Attendance {% endblock %}

<!-- Specific Page CSS goes HERE  -->
{% block stylesheets %}

    
<style>

    .tab-content>.active {
        display: contents !important;
    }

    .Dtyps {
        border-left: 4px solid;
        max-width: 150px;
        height: 40px;
        margin-right: 20px;
        float: left;
        padding-left: 5px;
        display: flex;
        flex-direction: column;
    }

    .Dtyps span {
        width: 100%;
        float: left;
        text-overflow: ellipsis;
        overflow: hidden;
        white-space: nowrap;
        text-align: left;
        padding-bottom: 0px;
        line-height: 14px;
        flex: 1;
        display: flex;
        align-items: center;
    }

    .Dtyps .Avadat, .Dtyps .digit-type {
        margin-top: 2px;
        line-height: 14px;
    }

    .comp-present {
        border-color: #2fb136 !important;
    }

    .comp-absent {
        border-color: #ee0d20 !important;
    }

    .comp-holyday {
        border-color: #25d6c7 !important;
    }

    .comp-weekend {
        border-color: #d3862fcc !important;
    }



</style>

{% endblock stylesheets %}


{% block content %}

  <!-- Page plugins -->
 

  <!-- Header -->
  <div class="header bg-primary pb-6">
    <div class="container-fluid">
      <div class="header-body">
        <div class="row align-items-center py-4">
          <div class="col-lg-6 col-7">
            <h6 class="h2 text-white d-inline-block mb-0">Attendance</h6>
            <nav aria-label="breadcrumb" class="d-none d-md-inline-block ml-md-4">
              <ol class="breadcrumb breadcrumb-links breadcrumb-dark">
                <li class="breadcrumb-item"><a href="#"><i class="fas fa-list"></i></a></li>
                <li class="breadcrumb-item"><a href="#">List View</a></li>
                <!-- <li class="breadcrumb-item active" aria-current="page">Datatables</li> -->
              </ol>
            </nav>
          </div>
          <div class="col-lg-6 col-5 text-right">
            <!-- <a href="{% url 'add_roles' %}" class="btn btn-sm btn-neutral">Add</a>  -->
            <!-- <a href="#" class="btn btn-sm btn-neutral">Filters</a> -->
          </div>
        </div>
      </div>
    </div>
  </div>

  <!-- Page content -->
  <div class="container-fluid mt--6">
    
    <!-- Table -->
    <div class="row">
      <div class="col">
      
        <div class="card">
          <!-- Card header -->
          <div class="card-header">
            <div class="row" style="justify-content: center;">
                <div class="col-lg-6">
                    <select class="form-control select2" data-toggle="select" value="{{ form.data.employee }}" name="employee" id="employee_change" >
                        <option value="general" selected disabled>Select employee</option>
                        {% for emp in employees %}
                            <option value="{{ emp.employee_id }}" {% if emp.employee_id == search_id %} selected{% endif %} {% if emp.employee_id == user.emp_id %} selected{% endif %} > {{ emp.first_name }} {{ emp.last_name }} </option>
                        {% endfor %} 
                    </select>
                
                </div> 
            </div>  
           
          </div>
          <div class="table-responsive py-4">
            <table class="table table-hover atlist" id="ZPAtt_dashboard_weekCont">
                <tr>
                    <th></th>
                    <th>Check-in</th>
                    <th></th>
                    <th>Check-out</th>
                    <th>Total Hours</th>
                   
                </tr>
                <tbody>

                    {% for date,date_no in zipped_data %}

                        <tr>
                            <td width="75" class="">{{ date|date:'l'|slice:"0:3"  }}, <span> {{ date_no }} </span></td>

                            {% for attn in month_atten %}

                                {% if attn.date|date:"d" == date_no %}

                                    {% if attn.is_present == 1 %}
                                        <td width="145">{{ attn.checkin_time }}</td>
                                        <td colspan="1" class="text-center">
                                            <div class="lingr present-bg"><span>Present</span></div>
                                        </td>
                                        <td width="145">{{ attn.checkout_time }}</td>
                                        <td width="145">{{ attn.updated_at|timeuntil:attn.created_at }}</td>
                                    {% endif %}

                                    {% if attn.is_leave == 1 %}
                                        <td width="145"></td>
                                        <td colspan="1" class="text-center">
                                            <div class="lingr absent-bg"><span>Absent</span></div>
                                        </td>
                                        <td width="145"></td>
                                    {% endif %}


                                {% endif %}

                               

                            {% endfor %}

                        </tr>

                    {% endfor %}

                    <!-- <tr>
                       <td width="75" class="">Sun<span> 03 </span></td>
                       <td width="145">01:10 PM</td>
                       <td colspan="1" class="text-center">
                          <div class="lingr wkend-bg"><span>Weekend</span></div>
                       </td>
                       <td width="145">01:10 PM</td>
                       <td width="145">9 Hrs</td>
                    </tr> -->
                   
                 </tbody>
              </table>
          </div>

            <div class="card-footer">
                <div class="tab-content PL100">
                    <div id="ZPAttView_Days" class="FL tab-pane fade MT8 active in">
                        <div class="Dtyps comp-present">
                            <span>Present Days</span> 
                            <div class="Avadat" id="ZPAtt_payDaysCount">{{ present_days }} Day(s)</div>
                        </div>
                    </div>

                    <div id="ZPAttView_Days" class="FL tab-pane fade MT8 active in">
                        <div class="Dtyps comp-absent">
                            <span>Absent Days</span> 
                            <div class="Avadat" id="ZPAtt_payDaysCount">{{ absent_days }} Day(s)</div>
                        </div>
                    </div>

                    <div id="ZPAttView_Days" class="FL tab-pane fade MT8 active in">
                        <div class="Dtyps comp-holyday">
                            <span>Holidays</span> 
                            <div class="Avadat" id="ZPAtt_payDaysCount">2.5 Day(s)</div>
                        </div>
                    </div>

                    <div id="ZPAttView_Days" class="FL tab-pane fade MT8 active in">
                        <div class="Dtyps comp-weekend">
                            <span>Weekend</span> 
                            <div class="Avadat" id="ZPAtt_payDaysCount">2.5 Day(s)</div>
                        </div>
                    </div>
         
                    </div>
                </div>
            </div>

        </div>
      </div>
    </div>

    
  </div>

{% endblock content %}

<!-- Specific Page JS goes HERE  -->
{% block javascripts %}

  <!-- Optional JS -->
  
    <script type="text/javascript">
        $(document).on('click', '.confirm-delete', function(){
            return confirm('Are you sure you want to delete this role?');
        })

        $('#employee_change').on('change', function () {
            var url = $(this).val(); // get selected value
            //alert(url);
            if (url) { // require a URL
                window.location = "http://127.0.0.1:8000/search_listview/"+url+"/"; // redirect
            }
            return false;
        });
        
//    $(document).ready(function() {
//     $('#example').DataTable( {
//         //dom: 'Bfrtip',
//         buttons: [
//             {
//                 extend: 'excelHtml5',
//                 exportOptions: {
//                     columns: ':visible'
//                 }
//             },
//             'colvis'
//         ]
//     } );
    
// } );


    </script>

{% endblock javascripts %}


