{% extends "layouts/base.html" %}

{% load custom_tags %}

{% block title %} Attendance {% endblock %}

<!-- Specific Page CSS goes HERE  -->
{% block stylesheets %}

    
<style>

    .tab-content>.active {
        display: contents !important;
    }

    .Dtyps {
        border-left: 4px solid;
        max-width: 150px;
        height: 40px;
        margin-right: 20px;
        float: left;
        padding-left: 5px;
        display: flex;
        flex-direction: column;
    }

    .Dtyps span {
        width: 100%;
        float: left;
        text-overflow: ellipsis;
        overflow: hidden;
        white-space: nowrap;
        text-align: left;
        padding-bottom: 0px;
        line-height: 14px;
        flex: 1;
        display: flex;
        align-items: center;
    }

    .Dtyps .Avadat, .Dtyps .digit-type {
        margin-top: 2px;
        line-height: 14px;
    }

    .comp-present {
        border-color: #3dce4cd9 !important;
    }
    .comp-comp {
        border-color: #3d81ced9 !important;
    }
    .comp-absent {
        border-color: #f0989a !important;
    }

    .comp-holyday {
        border-color: #0de2ffd9 !important;
    }

    .comp-weekend {
        border-color: #ff8700 !important;
    }

    .showLeft{
                    /* background-color: #0d77b6 !important;
                    border:1px solid #0d77b6 !important; */
                    text-shadow: none !important;
                    color:#fff !important;
                    padding:10px;
                    transform: rotate(90deg);
                }

                .icons li {
                    background: none repeat scroll 0 0 #a09d9d;;
                    height: 7px;
                    width: 7px;
                    line-height: 0;
                    list-style: none outside none;
                    margin-right: 15px;
                    margin-top: 3px;
                    vertical-align: top;
                    border-radius:50%;
                    pointer-events: none;
                }

                .btn-left {
                    left: 0.4em;
                }

                .btn-right {
                    right: 0.4em;
                }

                .btn-left, .btn-right {
                    position: absolute;
                    top: 0.24em;
                }

                .dropbtn {
                    /* background-color: #4CAF50; */
                    position: absolute;
                    color: white;
                    font-size: 16px;
                    border: none;
                    cursor: pointer;
                }

               
                .drop{
                    width: 100%;
                    /* background-color: #0d77b6 !important; */
                    height: 60px;
                }

                .dropdown-dot {
                    position: absolute !important;
                    display: inline-block;
                    right: 0.4em;
                }

                .dropdown-content {
                    display: none;
                    position: relative;
                    margin-top: 60px;
                    background-color: #f9f9f9;
                    min-width: 230px;
                    overflow: auto;
                    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
                    z-index: 1;
                }

                .dropdown-content a {
                    color: black;
                    padding: 12px 16px;
                    text-decoration: none;
                    display: block;
                }

                .dropdown-dot a:hover {background-color: #f1f1f1}

                .show {display:block;}

                .lingr span{
                    padding: 0px 14px;
                    position: relative;
                    top: -8px;
                    color: #666;
                    background-color: #FFF;
                }




</style>

{% endblock stylesheets %}


{% block content %}

{% role_name as role %}

  <!-- Header -->
  <div class="header bg-primary pb-6">
    <div class="container-fluid">
      <div class="header-body">
        <div class="row align-items-center py-4">
          <div class="col-lg-6 col-7">
            <h6 class="h2 text-white d-inline-block mb-0">Attendance</h6>
            <nav aria-label="breadcrumb" class="d-none d-md-inline-block ml-md-4">
              <ol class="breadcrumb breadcrumb-links breadcrumb-dark">
                <li class="breadcrumb-item"><a href="#"><i class="fas fa-list"></i></a></li>
                <li class="breadcrumb-item"><a href="#">List View</a></li>
                <!-- <li class="breadcrumb-item active" aria-current="page">Datatables</li> -->
              </ol>
            </nav>
          </div>
          <div class="col-lg-6 col-5 text-right">
            <!-- <a href="{% url 'add_roles' %}" class="btn btn-sm btn-neutral">Add</a>  -->
            <!-- <a href="#" class="btn btn-sm btn-neutral">Filters</a> -->
          </div>
        </div>
      </div>
    </div>
  </div>

  <!-- Page content -->
  <div class="container-fluid mt--6">
    
    <!-- Table -->
    <div class="row">
      <div class="col">
      
        <div class="card">
          <!-- Card header -->
          <div class="card-header">
            <div class="row" >
                <div class="col-lg-5">
                    <select class="form-control select2" data-toggle="select" value="{{ form.data.employee }}" name="employee" id="employee_change" >
                        <option value="general" selected disabled>Select employee</option>
                        {% if role == "Admin" %}
                            {% for emp in employees %}
                                <option value="{{ emp.employee_id }}" {% if emp.employee_id == search_id %} selected{% endif %} {% if emp.employee_id == user.emp_id %} selected{% endif %} > {{ emp.first_name }} {{ emp.last_name }} </option>
                            {% endfor %} 
                        {% endif %}

                        {% if role == "Manager" %}
                            <option value="{{ request.user.emp_id }}" {% if request.user.emp_id == emp_id %} selected{% endif %} {% if request.user.emp_id == user.emp_id %} selected{% endif %} > {{ request.user.first_name }} {{ request.user.last_name }}</option>
                            {% for emp in employees %}
                                <option value="{{ emp.employee.employee_id }}" {% if emp.employee.employee_id == emp_id %} selected{% endif %} {% if emp.employee.employee_id == user.emp_id %} selected{% endif %} > {{ emp.employee.first_name }} {{ emp.employee.last_name }} </option>
                            {% endfor %} 
                        {% endif %}

                    </select>
                </div> 

                <div class="col-lg-5">
                    <div class="form-group">
                      <input class="form-control startdate" id="month_year" placeholder="mm-yyyy" name="month_year" value="{{ month_no }}-{{ year }}"  autocomplete="off"/>
                      
                  </div>
                </div>


                <div class="col-lg-2 drop">

                    <form name="form" class="post-form" id="submit_export_form" action=" {% url 'export_excel' %} " method="POST">
                        {% csrf_token %}  
                        <input type="hidden" value="{{ emp_id }}" name="employee_id">
                        <input type="hidden" value="{{ month_no }}-{{ year }}" name="month">
                        <input type="hidden" id="type" value="" name="type">
                        
                        <button type="submit" hidden></button>
                    </form>

                    <div class="dropdown-dot">
                        <!-- three dots -->
                        <ul class="dropbtn icons btn-right showLeft" data-toggle="tooltip" data-original-title="More Options" onclick="showDropdown()">
                            <li></li>
                            <li></li>
                            <li></li>
                        </ul>
                        <!-- menu -->
                        <div id="myDropdown" class="dropdown-content">
                            <a href="#export"  class="export" value="All">Export All Employees</a>
                            <a href="#export"  class="export" value="Selected">Export Selected Employee</a>
                          
                        </div>
                    </div>
                </div>


            </div>  
           
          </div>
          <div class="table-responsive py-4">
            <table class="table table-hover atlist" id="ZPAtt_dashboard_weekCont">
                <tr>
                    <th></th>
                    <th>First Check-in</th>
                    <th></th>
                    <th>Last Check-out</th>
                    <th>Total Hours</th>
                   
                </tr>
                <tbody>

                    {% for date,date_no in zipped_data %}

                        <tr>
                            <td width="75" class="">{{ date|date:'l'|slice:"0:3"  }}, <span> {{ date_no }} </span></td>

                            {% for attn in month_atten %}

                                {% if attn.date|date:"d" == date_no %}

                                    {% if attn.is_present == 1 and attn.is_wfh_approved == None and attn.is_half == 0 or attn.is_wfh_approved == 0  %}
                                        <td width="145">{{ attn.checkin_time }}</td>
                                        <td colspan="1" class="text-center">
                                            <div class="lingr present-bg"><span class="present-border">Present</span></div>
                                        </td>
                                        <td width="145">{{ attn.checkout_time }}</td>
                                        <td width="145">{{ attn.updated_at|timeuntil:attn.created_at }}</td>
                                    {% endif %}

                                    {% if attn.is_present == 2 %}
                                        <td width="145">{{ attn.checkin_time }}</td>
                                        <td colspan="1" class="text-center">
                                            <div class="lingr comp-bg"><span class="comp-border">Comp Off</span></div>
                                        </td>
                                        <td width="145">{{ attn.checkout_time }}</td>
                                        <td width="145">{{ attn.updated_at|timeuntil:attn.created_at }}</td>
                                    {% endif %}

                                    {% if attn.is_present == 0 and attn.is_leave == 1 and attn.is_leave_approved == 1 and attn.is_half == 0 %}
                                        <td width="145"></td>
                                        <td colspan="1" class="text-center">
                                            <div class="lingr absent-bg"><span class="absent-border">Absent</span></div>
                                        </td>
                                        <td width="145"></td>
                                    {% endif %}

                                    {% if attn.is_present == 1 and attn.is_wfh_approved == None and attn.is_half == 1 %}
                                        <td width="145">{{ attn.checkin_time }}</td>
                                        <td colspan="1" class="text-center">
                                            <div class="lingr present-bg"><span class="present-border">Absent - HalfDay / Present</span></div>
                                        </td>
                                        <td width="145">{{ attn.checkout_time }}</td>
                                        <td width="145">{{ attn.updated_at|timeuntil:attn.created_at }}</td>
                                    {% endif %}

                                    {% if attn.is_present == 1 and attn.is_wfh_approved == 1 and attn.is_half == 1 %}
                                        <td width="145">{{ attn.checkin_time }}</td>
                                        <td colspan="1" class="text-center">
                                            <div class="lingr present-bg"><span class="present-border">Absent - HalfDay / WFH</span></div>
                                        </td>
                                        <td width="145">{{ attn.checkout_time }}</td>
                                        <td width="145">{{ attn.updated_at|timeuntil:attn.created_at }}</td>
                                    {% endif %}

                                    {% if attn.is_present == 1 and attn.is_wfh_approved == 1 and attn.is_half == 0 %}
                                        <td width="145">{{ attn.checkin_time }}</td>
                                        <td colspan="1" class="text-center">
                                            <div class="lingr present-bg"><span class="present-border">Present / WFH</span></div>
                                        </td>
                                        <td width="145">{{ attn.checkout_time }}</td>
                                        <td width="145">{{ attn.updated_at|timeuntil:attn.created_at }}</td>
                                    {% endif %}


                                {% endif %}


                            {% endfor %}

                            {% for holi in holidays %}
                                {% if holi.date|date:"d" == date_no %}

                                    <td width="145"></td>
                                    <td colspan="1" class="text-center">
                                        <div class="lingr holyday-bg"><span class="holyday-border">{{ holi.holiday_name }}</span></div>
                                    </td>
                                    <td width="145"></td>

                                {% endif %}
                            
                            {% endfor %}

                            {% for week in weekend %}
                               
                                {% if date|date:'l'|lower in week.week_off %}
                                   
                                    <td width="145"></td>
                                    <td colspan="1" class="text-center">
                                        <div class="lingr weekend-bg"><span class="weekend-border" >Weekend</span></div>
                                    </td>
                                    <td width="145"></td>

                                {% endif %}

                            {% endfor %}


                        </tr>

                    {% endfor %}

                    <!-- <tr>
                       <td width="75" class="">Sun<span> 03 </span></td>
                       <td width="145">01:10 PM</td>
                       <td colspan="1" class="text-center">
                          <div class="lingr wkend-bg"><span>Weekend</span></div>
                       </td>
                       <td width="145">01:10 PM</td>
                       <td width="145">9 Hrs</td>
                    </tr> -->
                   
                 </tbody>
              </table>
          </div>

            <div class="card-footer">
                <div class="tab-content PL100">
                    <div id="ZPAttView_Days" class="FL tab-pane fade MT8 active in">
                        <div class="Dtyps comp-present">
                            <span>Present Days</span> 
                            <div class="Avadat" id="ZPAtt_payDaysCount">{{ present_days }} Day(s)</div>
                        </div>
                    </div>

                    <div id="ZPAttView_Days" class="FL tab-pane fade MT8 active in">
                        <div class="Dtyps comp-comp">
                            <span>Comp Off</span> 
                            <div class="Avadat" id="ZPAtt_payDaysCount">{{ comp_off }} Day(s)</div>
                        </div>
                    </div>

                    <div id="ZPAttView_Days" class="FL tab-pane fade MT8 active in">
                        <div class="Dtyps comp-absent">
                            <span>Absent Days</span> 
                            <div class="Avadat" id="ZPAtt_payDaysCount">{{ absent_days }} Day(s)</div>
                        </div>
                    </div>

                    <div id="ZPAttView_Days" class="FL tab-pane fade MT8 active in">
                        <div class="Dtyps comp-holyday">
                            <span>Holidays</span> 
                            <div class="Avadat" id="ZPAtt_payDaysCount">{{ holidays.count }} Day(s)</div>
                        </div>
                    </div>

                    <div id="ZPAttView_Days" class="FL tab-pane fade MT8 active in">
                        <div class="Dtyps comp-weekend">
                            <span>Weekend</span> 
                            <div class="Avadat" id="ZPAtt_payDaysCount">{{ weekend_count }} Day(s)</div>
                        </div>
                    </div>
         
                    </div>
                </div>
            </div>

        </div>
      </div>
    </div>

    
  </div>

{% endblock content %}

<!-- Specific Page JS goes HERE  -->
{% block javascripts %}

  <!-- Optional JS -->

  
    <script type="text/javascript">

        var date_selected = ' {{ month_no }}-{{ year }} ';


                function changeLanguage(language) {
                    var element = document.getElementById("url");
                    element.value = language;
                    element.innerHTML = language;
                }

                function showDropdown() {
                    document.getElementById("myDropdown").classList.toggle("show");
                }

                // Close the dropdown if the user clicks outside of it
                window.onclick = function(event) {
                    if (!event.target.matches('.dropbtn')) {
                        var dropdowns = document.getElementsByClassName("dropdown-content");
                        var i;
                        for (i = 0; i < dropdowns.length; i++) {
                            var openDropdown = dropdowns[i];
                            if (openDropdown.classList.contains('show')) {
                                openDropdown.classList.remove('show');
                            }
                        }
                    }
                }

    // using jQuery
    function getCookie(name) {
        var cookieValue = null;
        if (document.cookie && document.cookie != '') {
            var cookies = document.cookie.split(';');
            for (var i = 0; i < cookies.length; i++) {
                var cookie = jQuery.trim(cookies[i]);
                // Does this cookie string begin with the name we want?
                if (cookie.substring(0, name.length + 1) == (name + '=')) {
                    cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
                    break;
                }
            }
        }
        return cookieValue;
    }
    var csrftoken = getCookie('csrftoken');

        $(function () {
            var dateToday = new Date();
            var year = dateToday.getFullYear();
            // $(".startdate").val( (dateToday.getMonth()+1) +'-'+year);

            $(".startdate").datepicker({
                autoclose: true,
                format: "mm-yyyy",
                startView: "months", 
                minViewMode: "months",
                'setDate': date_selected
                // todayHighlight: true,
                // defaultDate: new Date(dateToday.getMonth()+1,year)
            });
                
        });

        $('#employee_change').on('change', function () {
            var url = $(this).val();
            month = $("#month_year").val();
            if (url) { 
                window.location = "/search_listview/"+url+"/"+month+"/"; // redirect
            }
            return false;
        });
        
        $('#month_year').on('change', function () {
            var month = $(this).val(); 
            url = $("#employee_change").val();
            if (url) {
                window.location = "/search_listview/"+url+"/"+month+"/"; // redirect
            }
            return false;
        });

        $('.export').on('click', function () {

            month = $("#month_year").val();
            employee = $("#employee_change").val();

            $("#type").val($(this).attr('value'))

            $("#submit_export_form").submit();

        });


        
    </script>

{% endblock javascripts %}


