{% extends "layouts/base.html" %}

{% block title %} Holiday Details {% endblock %}

<!-- Specific Page CSS goes HERE  -->
{% block stylesheets %}
<style>

.modal-open .container-fluid, .modal-open  .container {
  -webkit-filter: blur(1px);
  -moz-filter: blur(1px);
  -o-filter: blur(1px);
    -ms-filter: blur(1px);
    filter: blur(1px);
}

.modal-backdrop
{
    opacity:0.7 !important;
}

.modal-lg {
    max-width: 60% !important;
}
.modal {
  overflow-y:auto;
}

div.dataTables_wrapper div.dataTables_paginate ul.pagination {
    margin: 2px 0;
    white-space: nowrap;
    justify-content: flex-end;
}

.pagination {
    display: flex;
    padding-left: 0;
    list-style: none;
    border-radius: .375rem;
}

.modal.fade.modal-right .modal-dialog {
  transform: translate(125%, 0px);
}

.modal.show.modal-right .modal-dialog {
  transform: none;
}

.modal-dialog {
    position: fixed !important;
    margin: auto;
    width: 50% !important;
    height: 100%;
    right: 0px;

}

</style>

{% endblock stylesheets %}

{% block content %}


<!-- Page plugins -->
<link rel="stylesheet" href="/static/assets/vendor/datatables.net-bs4/css/dataTables.bootstrap4.min.css">
<link rel="stylesheet" href="/static/assets/vendor/datatables.net-buttons-bs4/css/buttons.bootstrap4.min.css">
<link rel="stylesheet" href="/static/assets/vendor/datatables.net-select-bs4/css/select.bootstrap4.min.css">

<link href="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/toastr.min.css" rel="stylesheet" media="all">
<script src="http://cdnjs.cloudflare.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/toastr.min.js"></script>


  <!-- Page plugins -->
 

  <!-- Header -->
  <div class="header bg-primary pb-6">
    <div class="container-fluid">
      <div class="header-body">
        <div class="row align-items-center py-4">
          <div class="col-lg-6 col-7">
            <h6 class="h2 text-white d-inline-block mb-0">Leave</h6>
            <nav aria-label="breadcrumb" class="d-none d-md-inline-block ml-md-4">
              <ol class="breadcrumb breadcrumb-links breadcrumb-dark">
                <li class="breadcrumb-item"><a href="#"><i class="far fa-calendar-alt"></i></a></li>
                <li class="breadcrumb-item"><a href="#"> Holidays</a></li>
                <!-- <li class="breadcrumb-item active" aria-current="page">Datatables</li> -->
              </ol>
            </nav>
          </div>
          <div class="col-lg-6 col-5 text-right">
             <a href="{% url 'add_holiday_details' %}" class="btn btn-sm btn-neutral">Add</a>
             <a class="btn btn-sm btn-neutral" data-toggle="modal" data-target="#newPage">Filter</a>
          </div>
        </div>
      </div>
    </div>
  </div>

  

  <!-- Page content -->
  <div class="container-fluid mt--6">
    
    <!-- Table -->
    <div class="row">
      <div class="col">
      
            {% if messages %}
            {% for message in messages %}
                {% if message.tags == 'success'%}

               
                    <script type=text/javascript>
                     toastr.options = {
                  "closeButton": true,
                  "debug": false,
                  "newestOnTop": true,
                  "progressBar": true,
                  "positionClass": "toast-top-right",
                  "preventDuplicates": true,
                  "onclick": null,
                  "showDuration": "300",
                  "hideDuration": "1000",
                  "timeOut": "5000",
                  "extendedTimeOut": "1000",
                  "showEasing": "swing",
                  "hideEasing": "linear",
                  "showMethod": "fadeIn",
                  "hideMethod": "fadeOut"
                }
                    
                    toastr.{{ message.tags }}('{{ message }}')</script>
                {% elif message.tags == 'info' %} 
                    <script type=text/javascript>toastr.{{ message.tags }}('{{ message }}')</script>
                {% elif message.tags == 'warning' %} 
                    <script type=text/javascript>toastr.{{ message.tags }}('{{ message }}')</script>
                {% elif message.tags == 'error' %}
                    <script type=text/javascript>toastr.{{ message.tags }}('{{ message }}')</script>
                {% endif %}
            {% endfor %}
        {% endif %}
        <div class="card">
          <!-- Card header -->
          <div class="card-header">
            <h3 class="mb-0">Holiday Details</h3>
            <!-- <p class="text-sm mb-0">
              This is an exmaple of datatable using the well known datatables.net plugin. This is a minimal setup in order to get started fast.
            </p> --> 
          </div>
          <div class="table-responsive py-4">
            <table class="table table-flush" id="datatable-basic">
              <thead class="thead-light">
                <tr>
                  <th>#</th>
                  <th>Name</th>
                  <th> Date</th>
                  <th>Applicable Location</th>
                  <th>Description</th>
                  <th>Action</th>
                </tr>
              </thead>
              
              <tbody>
                {% for emp in employees %}
                <tr>
                    <td>{{ forloop.counter }}</td>
                    <td class="nr" data-queryid="{{ emp.id   }}"> {{emp.holiday_name }} </td>
                   
                    <td>{{emp.date |date:"d-m-Y" }}</td>
                    {% if emp.applicable_location.applicable_location_id != "" %}
                        <td>{{emp.applicable_location.location}}</td>
                    {% else %}
                        <td>All Locations</td>
                    {% endif %}
                    <td>{{emp.description}}</td>
                    
                    
                    <td> 
                        <!-- <a class="fas fa-eye use-address" style="color: #5e72e4;" data-toggle="tooltip" data-original-title="Edit" title="View More Info"></a> -->
                        &nbsp; &nbsp;
                       
                        <a href="{% url 'delete_holiday_details' emp.pk %}" class="confirm-delete fas  table-action-delete" data-toggle="tooltip" data-original-title="Delete Details">
                              <i class="fas fa-trash"></i>
                            </a> 
                      
                    </td>
                 </tr> 
                {% endfor %}
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>

  </div>

  <div class="modal fade modal-right" id="newPage" tabindex="-1" role="dialog" aria-labelledby="newPage" aria-hidden="true">
    <div class="modal-dialog modal-lg">
      <div class="modal-content">
        <div class="modal-header">
          <h4 class="modal-title">Holidays Filter</h4>
        </div>
        <form method="POST" action={% url 'filter_holiday' %} class="post-form" >  
        <div class="modal-body">
         
            {% csrf_token %}  
            <div class="pl-lg-4">
              <div class="row">
                <div class="col-lg-12">
                  <div class="form-group">
                    <label class="form-control-label" for="input-email">Location </label>
                    <select name="location" value="{{ form.data.location }}" class="form-control select2" placeholder="" required>
                      <option value="All" selected>All Locations</option>
                        {% for loc in locations %}
                          <option value="{{ loc.id }}">  {{ loc.location }}</option>
                        {% endfor %} 
                    </select>
                   
                  </div>
                </div> 
              </div>
            </div>
          
        </div>
        <div class="modal-footer">
          <button type="submit" class="btn btn-primary" >Filter</button>
          <button type="button" class="btn btn-danger" data-dismiss="modal" aria-label="Close">Close</button>
        </div>
      </form>
      </div>
    </div>
  </div>



{% endblock content %}

<!-- Specific Page JS goes HERE  -->
{% block javascripts %}

  <!-- Optional JS -->
 
  
<!-- <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script> -->
<script src="/static/assets/vendor/datatables.net/js/jquery.dataTables.min.js"></script>
   <script src="/static/assets/vendor/datatables.net-bs4/js/dataTables.bootstrap4.min.js"></script>
  <script src="/static/assets/vendor/bootstrap-datepicker/dist/js/bootstrap-datepicker.min.js"></script>
<script src="/static/assets/vendor/moment.min.js"></script>
<script src="/static/assets/vendor/bootstrap-datetimepicker.js"></script>
<!-- <script src="/static/assets/vendor/datatables.net-buttons/js/buttons.html5.min.js"></script> -->


  
<script type="text/javascript">

$(document).ready(function() {

  $('.select2').select2();  

}); 

$('[data-type="adhaar-number"]').keyup(function() {
  var value = $(this).val(); //alert(value);
  value = value.replace(/\D/g, "").split(/(?:([\d]{4}))/g).filter(s => s.length > 0).join("-");
  $(this).val(value);
});



        $(document).on('click', '.confirm-delete', function(){
            return confirm('Are you sure you want to delete this employee exit details?');
        }) 

           $(document).ready(function()
            {
               $(".startdate").datepicker({format: 'dd-mm-yyyy',  autoclose: true,
                  todayBtn: "linked",
                  todayHighlight: true,
                  });

            });

     


$(document).ready(function(){

$('#myModal').on('shown.bs.modal', function (event) { 
  $target = $('#section-3');
  $('.modal-body').animate({
    scrollTop: $target.offset().top + 'px'
  }, 'fast');
  
});
});




    </script>

{% endblock javascripts %}


