<!DOCTYPE html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
    <style>
    
    </style>
</head>
<body>
    <p> Dear <b>{{ fname }}</b> </p>
    <p>Congratulations !</p>
    <p>On behalf of <b>{{ company }}</b>, we are formally offering the position of a <b>{{ position }}</b></p>
    <p>Attached is a copy of the offer letter, should you accept the same, please sign & send the scanned copy on or before <b>{{ validity_date }}</b> </p>
    <p>Please let us know if you have any questions or I can provide any additional information.</p>
    <br><br><br>
    <p>(Email Signature)</p>
</body>
</html>
