
{% extends "layouts/base.html" %}

{% load static %}

{% load custom_tags %}

{% block title %} Dashboard {% endblock %}

<!-- Specific Page CSS goes HERE  -->
{% block stylesheets %}


    <style>
        .Usrimg
        {
            border-radius: 50%;
            border-style: solid;
            border-width: 1px;
            padding: 2px;
            width: 40px;
        }

        .Usrimg-leave{
            border-radius: 50%;
            border-style: solid;
            border-width: 2px;
            padding: 5px;
            width: 40px;
            text-align: center;
            height: 40px;
        }

        .hide-plus{
            display: none;
        }

        .leaves-hove:hover .hide-plus {
            display: block;
        }

        .hdaydiv {
            display: flex;
            height: 50px;
            align-items: center;
            width: 100%;
            /* padding: 0 20px; */
        }

        .hdname {
            float: left;
            width: calc(100% - 65px);
            white-space: nowrap;
            overflow: hidden;
            text-overflow: ellipsis;
            padding-bottom: 1px;
        }

        .hdate {
            float: right;
            width: 65px;
            text-align: right;
        }

        .hdaydiv:after {
            content: "";
            clear: both;
            overflow: hidden;
            display: table;
        }

        .dash-body {
            /* height: 300px; */
            overflow-y: auto;
            padding: 0px 0px 0px 0px;
        }

    </style>

{% endblock stylesheets %}

{% block content %}

{% role_name as role %}

    <!-- Header -->
    <div class="header pb-6">
      <div class="container-fluid">
        <div class="header-body">
          <div class="row align-items-center py-4">
            <div class="col-lg-6 col-7">
              <h6 class="h2 d-inline-block mb-0">Dashboard</h6>
              <nav aria-label="breadcrumb" class="d-none d-md-inline-block ml-md-4">
                <ol class="breadcrumb breadcrumb-links">
                  <li class="breadcrumb-item"><a href="#"><i class="fas fa-home"></i></a></li>
                  <li class="breadcrumb-item"><a href="#">Dashboards</a></li>
                  <!-- <li class="breadcrumb-item active" aria-current="page">Alternative</li> -->
                </ol>
              </nav>
            </div>
            <!-- <div class="col-lg-6 col-5 text-right">
              <a href="#" class="btn btn-sm btn-neutral">New</a>
              <a href="#" class="btn btn-sm btn-neutral">Filters</a>
            </div> -->
          </div>
        </div>
      </div>
    </div>
    
    <!-- Page content -->
    <div class="container-fluid mt--6">
      
      <div class="card-deck flex-column flex-xl-row">

       
        {% if role == "Admin" %}
        <div class="card">
          <div class="card-header bg-transparent">
            <h2 class="h3 mb-0">Birthdays<h2> 
          </div>

          <div class="card-body">
            <!-- Chart -->
            <a href="birthdays/" style="color: #5a5858;">
            <div class="chart overflow-dashboard">
              
                <div class="row">
                    {% for data in birthdays %}
                        <div class="col-lg-2">
                            <img src="{% static 'images/admin.png' %}" width="50" class="Usrimg"> 
                        </div>
                        <div class="col-lg-10" style="margin-bottom: 10px;">
                            <span class="CP"><span>{{ data.employee_id}} &nbsp;-&nbsp;</span><b>{{ data.first_name}} {{ data.last_name}}</b> </span><br>
                            <small>{{ data.department.name}}&nbsp;-&nbsp;{{ data.role.name}}</small> 
                            <div class="usr_cl">
                                <small><i class="fas fa-mobile"></i>&nbsp; {{ data.work_phone}}</small> 
                            </div> 
                            <hr style="margin-top: 1rem;margin-bottom: 1rem;">
                        </div>
                        <hr>
                        {% empty %}
                        <div style="margin: auto; text-align: center;margin-top: 70px;">
                            <img src="{% static 'images/no_birthday.png' %}" width="100" > <br>
                            <span>No Birthday buddies found.</span>
                        </div>
                    {% endfor %}
                </div>
              
            </div>
          </a>
          </div>
        </div>

        {% endif %}

        {% if role == "Admin" %}
        <div class="card">
          <div class="card-header bg-transparent">
            <div class="row align-items-center">
              <div class="col">
                <h2 class="h3 mb-0">New Hires</h2>
              </div>
            </div>
          </div>
          <div class="card-body">
            <!-- Chart -->
          <a href="new_hires/" style="color:#5a5858;">
            <div class="chart overflow-dashboard">
              <div class="row">
                {% for new in new_hires %}
                  <div class="col-lg-2">
                      <img src="{% static 'images/admin.png' %}" width="50" class="Usrimg"> 
                  </div>
                  <div class="col-lg-10" style="margin-bottom: 10px;">
                      <span class="CP"><span>{{ new.employee_id}} &nbsp;-&nbsp;</span><b>{{ new.first_name}} {{ new.last_name}}</b> </span><br>
                      <small>{{ new.department.name}}&nbsp;-&nbsp;{{ new.role.name}}</small> 
                      <div class="usr_cl">
                          <small><i class="fas fa-mobile"></i>&nbsp; {{ new.work_phone}}</small> 
                      </div> 
                      <hr style="margin-top: 1rem;margin-bottom: 1rem;">
                  </div>
                  {% empty %}
                  <div style="margin: auto; text-align: center;margin-top: 100px;">
                      <img src="{% static 'images/eyes_looking.png' %}" width="100"  > <br>
                      <span>No New Joinees in past 15 days.</span>
                  </div>
                {% endfor %}
            </div>
            </div>
          </a>
          </div>
        </div>
        {% endif %}

        <!-- Progress track -->
        <div class="card">
          <!-- Card header -->
          <div class="card-header">
            <div class="row align-items-center">
              <div class="col-12">
                <span class="h3 mb-0">Attendance</span>
                <a onclick="Attendance_week(this);" id="remove_sel_week" class="IC-week float-right margin-right">
                    <i class="fas fa-calendar-week" data-toggle="tooltip" data-original-title="Week View"></i>
                </a>
                
                <a onclick="Attendance_today(this);" id="remove_sel_today" class="IC-today float-right margin-right sel">
                    <i class="far fa-calendar-check" data-toggle="tooltip" data-original-title="Today View"></i>
                </a>
               
              </div>
            </div>
          </div>
          <!-- Card body -->
          <div class="card-body card-body-attn">

              <div class="zp-sm-4" name="ATTENDANCE" widget="true" widid="57753000000210063" loaded="true">
                <div class="dash-col  ">
                
                   <div id="ATTENDANCE" class="dash-body ">
                      <table class="table table-hover atlist" id="ZPAtt_dashboard_weekCont">
                         <tbody>
                            
                            {% now "d" as todays_date %}

                            {% for days,date_no,dates in weekdays %}

                            
                            <tr>
                                {% if todays_date == date_no %}
                                    <td width="75" class="sel">{{ days }} <span> {{ date_no }} </span></td>
                                {% else %}
                                    <td width="75" class="">{{ days }} <span> {{ date_no }} </span></td>
                                {% endif %}
                                
                                <td colspan="3">
                                    {% for week in week_atten %}

                                        {% if week.date|date:"d" in date_no %}
                                            {% if week.is_present == 1 %}
                                                <div class="lingr present-bg"><span><small data-toggle="tooltip" data-original-title="First CheckIn">{{ week.checkin_time }}</small> - <small data-toggle="tooltip" data-original-title="Last CheckOut">{{ week.checkout_time }}</small></span></div>
                                            {% endif %}
                                            {% if week.is_leave == 1 %}
                                                <div class="lingr absent-bg"><span data-toggle="tooltip" data-original-title="Absent">Absent</span></div>
                                            {% endif %}
                                        {% endif %}

                                    {% endfor %}

                                    {% for holi in holidays %}
                                        {% if holi.date|date:"d" in date_no %}
                                            <div class="lingr holyday-bg"><span data-toggle="tooltip" data-original-title="Absent">{{ holi.holiday_name }}</span></div>
                                        {% endif %}
                                    {% endfor %}

                                    {% for week in weekend %}
                               
                                        {% if dates|date:'l'|lower in week.week_off %}
                                        
                                            <div class="lingr weekend-bg"><span data-toggle="tooltip" data-original-title="Weekend">Weekend</span></div>


                                        {% endif %}

                                    {% endfor %}


                                </td>

                            </tr>
                            
                            {% endfor %}

                         </tbody>
                      </table>
            <div id="ZPAtt_dashboard_dayCont">
            {% if request.session.checkin_session %}
              <form method="POST" class="post-form" action="check_out_attn/">  
                {% csrf_token %}  
                <div class="row">
                <div class="col-lg-8">
                  <input class="form-control" type="text" name="check_in" id="atte_check_in" placeholder="Add Notes">
                 
                </div>

                <div class="col-lg-4">
                    <button class="btn-sm btn-danger float-right" type="submit" name="submit" id="atte_submit" style="border-style: solid;" ><i class="far fa-clock"></i> <small>Check-out</small> <br><small class="Timer"></small></button>
                    
                </div>
              </div>
                 
              </form>
              {% else %}
              <form method="POST" class="post-form" action="check_in_attn/">  
                {% csrf_token %}  
                <div class="row">
                <div class="col-lg-8">
                  <input class="form-control" type="text" name="check_in" id="atte_check_in" placeholder="Add Notes">
                 
                </div>

                <div class="col-lg-4">
                    <button class="btn-sm btn-success float-right" type="submit" name="submit" id="atte_submit" style="border-style: solid;" ><i class="far fa-clock"></i> <strong>Check-in</strong> <br><small class="Timer"></small></button>
                  
                </div>
              </div>
                 
              </form>

              {% endif %}
              
            
              <div class="d-flex justify-content-center align-items-center mt-10" style="margin-top: 16%;">
                
                <h1 class="d-flex justify-content-center align-items-center mt-10" >{{ check_in }} Hrs</h1><br>
                
              </div>

              <div class="d-flex justify-content-center align-items-center mt-10" >
                
                <span>{% now "d M Y" %}</span>

              </div>
            </div>
            </div>
        </div>
        </div>


          </div>
        </div>
      </div>

      <div class="card-deck flex-column flex-xl-row">
        <div class="card">
          <div class="card-header bg-transparent">
            {% if role == "Admin" %}
            <span class="h3 mb-0">Announcements</span>&nbsp;<a href="/add_announcements/" data-toggle="tooltip" data-original-title="Announcements"><i class="fas fa-plus-circle"></i></a>
            {% else %}
            <span class="h3 mb-0">Announcements</span>&nbsp;<a href="#" data-toggle="tooltip" data-original-title="Announcements"></a>
            {% endif %}
        </div>
          <div class="card-body">
          
            <ul class="list-group list-group-flush list my--3">
                {% for data in announcements %}
              <li class="list-group-item px-0">
                <div class="row align-items-center">
                  <div class="col-auto">
                    <!-- Avatar -->
                    <a href="#" class="avatar rounded-circle">
                        <img src="{% static 'images/admin.png' %}" width="40" class="Usrimg">
                    </a>
                  </div>
                  <div class="col ml--2">
                    <h4 class="mb-0">
                      {{ data.title}}
                    </h4>
                    <span class="text-warning">●</span>
                    <small>{{ data.created_at }}</small>
                  </div>
                  <div class="col-auto">
                    <a type="button" class="btn btn-sm btn-primary" href="{% url 'announcement_view' data.pk %}" style="color:#fff;">View</a>
                  </div>
                </div>
              </li>
              {% empty %}
              <div style="margin: auto; text-align: center;margin-top: 70px;">
                  <img src="{% static 'images/announcement.png' %}" width="130"> <br>
                  <span>No Announcement in last 30 days.</span>
              </div>
              {% endfor %}
            
            </ul>

          </div>
        </div>
        <div class="card">
          <div class="card-header bg-transparent">
            <div class="row align-items-center">
              <div class="col">
                <h2 class="h3 mb-0">Leave Report</h2>
              </div>
            </div>
          </div>
          <div class="card-body">
            <!-- Chart -->
            <div class="chart ">
                
                    <div class="chart overflow-dashboard">
                      
                        {% for leave in leaves %}
                        <div class="row leaves-hove">
                            <div class="col-lg-2">
                                <h5 class="Usrimg-leave" style="color:{{ leave.leave_type.color}};" width="50">{{ leave.balance|floatformat }}</h5>
                            </div>
                            <div class="col-lg-8" style="margin-bottom: 10px;">
                                <span class="CP"><b>{{ leave.leave_type.name}} </b> </span><br>
                                <small>Available {{ leave.balance|floatformat }} Day(s)</small> 

                                <hr style="margin-top: 1rem;margin-bottom: 1rem;">
                            </div>

                            <div class="col-lg-2">
                                <a class="button" style="color: #2dce89;" href="{% url 'leave' leave.leave_type.name %}" ><i class="fas fa-plus-circle hide-plus"></i></a>
                            </div>
                        </div>
                       
                          {% empty %}
                          <div style="margin: auto; text-align: center;margin-top: 100px;">
                              <span>No Leaves Available.</span>
                          </div>
                        {% endfor %}
                   
                    </div>
                 
            </div>
          </div>
        </div>
        <!-- Progress track -->
      
        <div class="card">
          <div class="card-header bg-transparent">
            <!-- <h6 class="text-muted text-uppercase ls-1 mb-1">Overview</h6> -->
            <h2 class="h3 mb-0">Upcoming Holidays</h2>
          </div>
          <div class="card-body">

            <div class="chart">
                <ul class="hdaylist dash-body">
                    {% for data in upcoming_holidays %}
                    <li class="hdaydiv">
                        <div class="hdname MT8">{{ data.holiday_name }}</div>
                        <div class="hdate">{{ data.date|date:'d' }} - {{ data.date|date:'M' }} <h6>{{ data.date|date:'l' }}</h6></div>
                    </li>
                    {% empty %}
                    <div style="margin: auto; text-align: center;margin-top: 70px;">
                        <i class="far fa-calendar fa-6x" style="color: #010101a6;"></i> <br>
                        <span>No Holidays Found..</span>
                    </div> 
                    {% endfor %}
                </ul>
            </div>
          </div>
        </div>

      </div>

        
      <div class="card-deck flex-column flex-xl-row">
       
        <div class="card">
          <!-- Card header -->
          <div class="card-header">
            <div class="row align-items-center">
              <div class="col-8">
                <h5 class="h3 mb-0">My Timelogs</h5>
              </div>
            </div>
          </div>
          <!-- Card body -->
          <div class="card-body">
            <div class="chart text-center">
              <span class="">Under Development</span>
            </div>
            <div id="TIMELOGS" class="dash-body ">
              <!-- <div id="dashboardTimelogsNavBar">
                    <ul class="Dnav" id="date_my_timelogs">
                    </ul>
                </div> -->
                <!-- <div id="dashboardTimelogs" class="tlogscrl">
                    <table class="table table-hover">
                        <tbody>
                            <tr id="dashTimelog57753000000234023">
                                <td class="CP" onclick="">test<span><span class="timelg-dot">.</span>test</span></td>
                                <td width="100"><bclass="zp_font">00:00</bclass="zp_font"></td><td width="75"><i class="IC-player grn S18" tid="57753000000234023" onclick=""></i></td>
                            </tr>
                        </tbody>
                    </table>
                </div> -->
            </div>
          </div>
        </div>

        {% if role == "Admin" %}
        <div class="card">
          <div class="card-header bg-transparent">
            <div class="row align-items-center">
              <div class="col">
                <h2 class="h3 mb-0">On Leave Today</h2>
              </div>
            </div>
          </div>
          <div class="card-body">
            <div class="chart overflow-dashboard">
              <div class="row">
                {% for today in leave_today %}
                  <div class="col-lg-2">

                    {% if today.employee.profile %}
                      <img src="{% static '' %}profile_images/{{ today.employee.profile}}" width="50" class="Usrimg"> 
                    {% else %}
                      <img src="{% static '' %}profile_images/admin.png" width="50" class="Usrimg"> 
                    {% endif %}

                  </div>
                  <div class="col-lg-10" style="margin-bottom: 10px;">
                      <span class="CP"><span>{{ today.employee_id}} &nbsp;-&nbsp;</span><b>{{ today.employee.first_name}} {{ today.employee.last_name}}</b> </span><br>
                      <small>{{ today.employee.department.name}}&nbsp;-&nbsp;{{ today.employee.role.name}}</small> 
                      <div class="usr_cl">
                          <small><i class="fas fa-mobile"></i>&nbsp; {{ today.employee.mobile_number}}</small> 
                      </div> 
                      <hr style="margin-top: 1rem;margin-bottom: 1rem;">
                  </div>
                  {% empty %}
                  <div style="margin: auto; text-align: center;margin-top: 100px;">
                    <i class="fas fa-calendar-times fa-5x"></i> <br>
                      <span>No records found.</span>
                  </div>
                {% endfor %}
            </div>
            </div>
          </div>
        </div>
        {% endif %}
       
      </div>


    </div>

{% endblock content %}

<!-- Specific Page JS goes HERE  -->
{% block javascripts %}

  <script src="/static/assets/vendor/chart.js/dist/Chart.min.js"></script>
  <script src="/static/assets/vendor/chart.js/dist/Chart.extension.js"></script>
  <script src="/static/assets/vendor/jvectormap-next/jquery-jvectormap.min.js"></script>
  <script src="/static/assets/js/vendor/jvectormap/jquery-jvectormap-world-mill.js"></script>

  <script>

    $(function(){
        $('#ZPAtt_dashboard_weekCont').hide();
    })

    function Attendance_today(val)
    {
        $('#ZPAtt_dashboard_weekCont').hide();
        $('#ZPAtt_dashboard_dayCont').show();

        $("#remove_sel_week").removeClass("sel");
        $(val).addClass("sel")
    }

    function Attendance_week(val)
    {
        
        $('#ZPAtt_dashboard_dayCont').hide();
        $('#ZPAtt_dashboard_weekCont').show();

        $("#remove_sel_today").removeClass("sel");
        $(val).addClass("sel")
       
    }

    

    setInterval(function(){ 

        // var start = new Date;
        // var dt = new Date();
        // var ampm = (dt.getHours() >= 12) ? "PM" : "AM";
        // var time = dt.getHours() + ":" + dt.getMinutes() + ":" + dt.getSeconds() + " " + ampm;

        var dt = new Date();
        var h =  dt.getHours(), m = dt.getMinutes();
        
        var time = (h >= 12) ? (h-12 + ':' + m + ":" + dt.getSeconds() +' PM') : (h + ':' + m + ":" + dt.getSeconds() +' AM') ;

        $('.Timer').text(time); 

    }, 1000);

    let curr = new Date 
    let days_name = []
    let days_no = []

    for (let i = 1; i <= 7; i++) {
        let first = curr.getDate() - curr.getDay() + i 
        let date_initial = new Date(curr.setDate(first)).toISOString().slice(0, 10)
        let date_convert = new Date(date_initial);
        let day = date_convert.toLocaleString("default", { weekday: "short" })
        split_date = date_initial.split('-');
        days_name.push(day)
        days_no.push(split_date[2])

    }

    // alert(days_name)
    // alert(days_no)

    html = '';
    for(i=0;i<=days_no.length-1;i++){
        
        html +='<li id="day3" onclick=""><b>'+days_no[i]+'</b>'+days_name[i]+'</li>';
       
    }

    $("#date_my_timelogs").empty();
    $("#date_my_timelogs").html(html);

  </script>

{% endblock javascripts %}
