{% extends "layouts/base.html" %}

{% block title %} New Hires {% endblock %}

<!-- Specific Page CSS goes HERE  -->
{% block stylesheets %}{% endblock stylesheets %}

{% block content %}

  <!-- Page plugins -->
 

  <!-- Header -->
  <div class="header bg-primary pb-6">
    <div class="container-fluid">
      <div class="header-body">
        <div class="row align-items-center py-4">
          <div class="col-lg-6 col-7">
            <h6 class="h2 text-white d-inline-block mb-0">Organization</h6>
            <nav aria-label="breadcrumb" class="d-none d-md-inline-block ml-md-4">
              <ol class="breadcrumb breadcrumb-links breadcrumb-dark">
                <li class="breadcrumb-item"><a href="#"><i class="fas fa-user"></i></a></li>
                <li class="breadcrumb-item"><a href="#">New Hires</a></li>
                <!-- <li class="breadcrumb-item active" aria-current="page">Datatables</li> -->
              </ol>
            </nav>
          </div>
          <!-- <div class="col-lg-6 col-5 text-right">
            <a href="{% url 'add_roles' %}" class="btn btn-sm btn-neutral">Add</a> 
            <a href="#" class="btn btn-sm btn-neutral">Filters</a>
          </div> -->
        </div>
      </div>
    </div>
  </div>

  <!-- Page content -->
  <div class="container-fluid mt--6">
    
    <!-- Table -->
    <div class="row">
      <div class="col">
      
        <div class="card">
          <!-- Card header -->
          <div class="card-header">
            <h3 class="mb-0">New Hires</h3>
            <!-- <p class="text-sm mb-0">
              This is an exmaple of datatable using the well known datatables.net plugin. This is a minimal setup in order to get started fast.
            </p> --> 
          </div>
          <div class="table-responsive py-4">
            <table class="table table-flush" id="example">
              <thead class="thead-light">
                <tr>
                  <th>#</th>
                  <th>First Name</th>
                  <th>Last Name</th>
                  <th>Email</th>
                  <th>Department</th>
                  <th>Role</th>
                  <th>Created Date</th>
                  
                </tr>
              </thead>
             
              <tbody>
                {% for new in new_hires %}
                <tr>
                    <td>{{ forloop.counter }}</td>
                    <td>{{new.first_name}}</td>
                    <td>{{new.last_name}}</td>
                    <td>{{new.email_id}}</td>
                    <td>{{new.department.name}}</td>
                    <td>{{new.role.name}}</td>
                    <td>{{new.created_at}}</td>
                   
                   
                </tr>
                {% endfor %}
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>

    
  </div>

{% endblock content %}

<!-- Specific Page JS goes HERE  -->
{% block javascripts %}

  <!-- Optional JS -->
  
    <script type="text/javascript">
        $(document).on('click', '.confirm-delete', function(){
            return confirm('Are you sure you want to delete this role?');
        })


        
   $(document).ready(function() {
    $('#example').DataTable( {
        //dom: 'Bfrtip',
        buttons: [
            {
                extend: 'excelHtml5',
                exportOptions: {
                    columns: ':visible'
                }
            },
            'colvis'
        ],
        language: {
            "emptyTable": "No New Joinees in past 15 days.",
            "loadingRecords": "Please wait .. ", 
        }
    } );
    
} );


    </script>

{% endblock javascripts %}


